/* Proprietà generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.contenitore{
  padding: 0 10%;
  text-align: center;
}
@media all and (max-width: 991px){
  .contenitore{
    padding: 0 3%;
  }
}
@media all and (max-width: 767px){
  .contenitore{
    padding: 0;
  }
  header .navbar-nav{
    text-align: left;
  }
}

/* Proprietà header */
header{
  background-color: #2c3e50;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
  /* Aggiustamenti navbar BS */
header .navbar{
  margin-bottom: 0;
  min-height: 80px;
}
  /* no colore e bordo */
header .navbar-default{
  background-color: transparent;
  border: 0px;
}

/* Navbar BS links */
  /* Proprietà generiche links */
header .navbar-default .navbar-nav>li>a,
header .navbar-default .navbar-brand{
  color: white;
  line-height: 60px;
}
  /* Proprietà specifiche links dx*/
header .navbar-default .navbar-nav>li>a{
  /* padding-right: 10px;
  padding-left: 10px; */
  font-size: 19px;
  font-weight: 600;
}
  /* Proprietà specifiche Logo */
header .navbar-default .navbar-brand{
  font-size: 28px;
  height: auto;
  font-weight: 800;
}
  /* Hover/Focus links */
header .navbar-default .navbar-nav>li>a:hover{
  color: #1abc9c;
}
header .navbar-default .navbar-brand:focus,
header .navbar-default .navbar-brand:hover,
header .navbar-default .navbar-nav>li>a:focus{
  color: white;
}

/* Hamburger button */
header .navbar-toggle {
  margin: 30px 0 0;
}

/* Proprietà main */
section{
  padding: 40px 0;
  min-height: 200px;
}
/* Titoli sezione */
section h2{
  margin: 0 0 20px;
  font-weight: 800;
}

.white-text{
  color: white;
}
/* Proprietà separatore */
.separatore{
  margin-bottom: 20px;
  font-size: 18px;
}
  /* Linee orizzontali */
.separatore .line-hor{
  border: 1px solid;
  display: inline-block;
  width: 10%;
  max-width: 300px;
  min-width: 30px;
  margin: 0 1.5%;
  vertical-align: middle;
}
  /* Icona stella */
.separatore .star-icon{
  vertical-align: middle;
}

  /* Proprietà Jumbo */
.greensection{
  background-color: #00b386;
  min-height: 200px;
}
.greensection:first-child{
  margin-top: 90px;
}
.greensection img{
  max-width: 160px;
}
.jumbo_title{
   font-size: 40px;
   margin-top: 20px;
}
#jumbo-text{
  font-size: 18px;
  font-weight: 600;
}

  /* Proprietà Protfolio */
.whitesection{
  background-color: white;
}

/* Proprietà carta img */
.card{
  position: relative;
  margin: 10px 0;
  background-color: #00b386;
  border-radius: 10px;
}
.card a{
  color: white;
}
.card img{
  max-width: 100%;
  border-radius: 10px;
}
.card:hover img{
  opacity: 0.2;
  transition: opacity 0.3s;
}
.card i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  display: none;
}
.card:hover i{
  display: block;
}

/* Proprietà ABOUT */
.testosx{
  text-align: left;
}
  /* Bottone standard BS */
.greensection .btn-primary.active,
.greensection .btn-primary:active,
.greensection .open>.dropdown-toggle.btn-primary {
  background-color: transparent;
  border-color: white;
  margin-top: 10px;
  font-weight: 600;
}
  /* Bottone standard BS :hover/:focus*/
.greensection .btn-primary.active.focus,
.greensection .btn-primary.active:focus,
.greensection .btn-primary.active:hover,
.greensection.btn-primary:active.focus,
.greensection.btn-primary:active:focus,
.greensection.btn-primary:active:hover,
.greensection.open>.dropdown-toggle.btn-primary.focus,
.greensection.open>.dropdown-toggle.btn-primary:focus,
.greensection.open>.dropdown-toggle.btn-primary:hover{
  background-color: white;
  color: black;
}

/* Proprietà Contattami */
#contatti{
  font-size: 18px;
}

/* Form input type BS */
.form-group{
  margin-bottom: 25px;
}
.form-control{
  color: black;
  border: 0px solid lightgrey;
  border-bottom-width: 1px;
  border-radius: 0;
  box-shadow: none;
  font-size: 20px;
  padding: 0;
  padding-bottom: 15px;
}
.form-control::-webkit-input-placeholder{
  color: black;
}
.form-control:focus{
  box-shadow: none;
  border-color: lightgrey;
}

/* Proprietà bottone submit BS */
form .btn{
  border: 0px solid transparent;
  min-height: 45px;
  font-size: 18px;
  background-color: #00b386;
  color: white;
  font-weight: 600;
}
form .btn-default:hover,
form .btn-default:focus,
form .btn-default:active{
  background-color: #14a286;
  color: white;
  outline: none;
}

/* Proprietà footer */
footer section{
  background-color: #3a546d;
}

  /* Icona social */
footer .social{
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  margin: 5px 5px;
}
footer .social:hover{
  background-color: white;
  color: black;
  transition: color 0.5s, background-color 0.5s;
}

  /* Link verde */
#linketto{
  color: #00b386;
  text-decoration: none;
}
#linketto:hover{
  color: #137965;
  text-decoration: underline;
}

  /* Seconda sezione footer + scura */
footer section:last-child{
  background-color: #2c3e50;
  min-height: 100px;
}
footer section:last-child p{
  margin-bottom: 0;
}
