/* Proprietà generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.contenitore{
  padding: 0 10%;
  text-align: center;
}
@media all and (max-width: 991px){
  .contenitore{
    padding: 0 3%;
  }
}
@media all and (max-width: 767px){
  .contenitore{
    padding: 0;
  }
  header .navbar-nav{
    text-align: left;
  }
}

/* Proprietà header */
header{
  background-color: #2c3e50;
}
  /* Aggiustamenti navbar BS */
header .navbar{
  margin-bottom: 0;
  min-height: 80px;
}
  /* no colore e bordo */
header .navbar-default{
  background-color: transparent;
  border: 0px;
}

/* Navbar BS links */
  /* Proprietà generiche links */
header .navbar-default .navbar-nav>li>a,
header .navbar-default .navbar-brand{
  color: white;
  line-height: 60px;
}
  /* Proprietà specifiche links dx*/
header .navbar-default .navbar-nav>li>a{
  /* padding-right: 10px;
  padding-left: 10px; */
  font-size: 19px;
  font-weight: 600;
}
  /* Proprietà specifiche Logo */
header .navbar-default .navbar-brand{
  font-size: 28px;
  height: auto;
  font-weight: 800;
}
  /* Hover/Focus links */
header .navbar-default .navbar-nav>li>a:hover{
  color: #1abc9c;
}
header .navbar-default .navbar-brand:focus,
header .navbar-default .navbar-brand:hover,
header .navbar-default .navbar-nav>li>a:focus{
  color: white;
}

/* Hamburger button */
header .navbar-toggle {
  margin: 30px 0 0;
}

/* Proprietà main */
section{
  padding: 40px 0;
  min-height: 200px;
}
/* Titoli sezione */
section h2{
  margin: 0 0 20px;
  font-weight: 800;
}

.white-text{
  color: white;
}
/* Proprietà separatore */
.separatore{
  margin-bottom: 20px;
  font-size: 18px;
}
  /* Linee orizzontali */
.separatore .line-hor{
  border: 1px solid;
  display: inline-block;
  width: 10%;
  max-width: 300px;
  min-width: 30px;
  margin: 0 1.5%;
  vertical-align: middle;
}
  /* Icona stella */
.separatore .star-icon{
  vertical-align: middle;
}

  /* Proprietà Jumbo */
.greensection{
  background-color: #00b386;
  min-height: 200px;
}
.greensection img{
  max-width: 160px;
}
.jumbo_title{
   font-size: 40px;
   margin-top: 20px;
}
#jumbo-text{
  font-size: 18px;
  font-weight: 600;
}

  /* Proprietà Protfolio */
.whitesection{
  background-color: white;
}
.whitesection img{
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

/* Proprietà ABOUT */
.testosx{
  text-align: left;
}

/* Proprietà colonne */
.colonna{ /* Debug */
background-color: dodgerblue;
border: 1px solid yellow;
border-radius: 10px;
min-height: 150px;
margin: 0px;
}

/* Proprietà footer */
footer section{
  background-color: #0026a0;
}
footer section:last-child{
  background-color: #9000a0;
}
